 <%= form_with model: @product, class: "w-full" do |form| %>

            <div class = "flex-col justify-center items-center p-2">
                <%= form.label :product_name %>
                <%= form.text_field :product_name, class: "w-full bg-stone-700 focus:ring-2 focus:ring-green-500 focus:border-none  border-stone-700" %>
            </div>

            <div class = "flex-col justify-center items-center p-2">
                <%= form.label :description %>
                <%= form.text_area :description, class: "w-full bg-stone-700 resize-none focus:ring-2 focus:ring-green-500  focus:border-none border-stone-700" %>
            </div>

            <div class = "flex-col justify-center items-center p-2">
                <%= form.label :image_url %>
                <%= form.text_field :image_url, class: "w-full bg-stone-700 focus:ring-2 focus:ring-green-500 focus:border-none border-stone-700" %>
            </div>

            <div class = "flex-col justify-center items-center p-2">
                <%= form.label :price %>
                <%= form.text_field :price, type: "number", class: "w-full bg-stone-700 remove-arrow focus:ring-2 focus:ring-green-500 focus:border-none border-stone-700" %>
            </div>

            <div class = "flex-col justify-center items-center p-2">
                <%= form.label :quantity %>
                <%= form.text_field :quantity, type: "number", class: "w-full bg-stone-700 remove-arrow focus:ring-2 focus:ring-green-500 focus:border-none border-stone-700" %>
            </div>

            <% if @product.errors.any? %>
                <div class = " text-red-500 text-sm text-center p-5">
                    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved: </h2>
                    <ul>
                        <% @product.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class = "flex justify-center p-2">
                <%= form.submit "Submit", class: "px-10 py-3 rounded-lg bg-green-500 text-white" %>
            </div>

        <% end %>
