<div class = "h-screen flex flex-col justify-center items-center">
    <div class = "w-1/5 h-2/5 flex flex-col justify-center items-center bg-stone-800 rounded-lg border border-stone-700 p-3">
        <%= image_tag @product.image_url, alt: @product.product_name, class: "size-28"%>
        <div class = "pt-4">
            <h2 class = "text-center text-2xl font-semibold underline"><%= @product.product_name%></h2>
            <h3 class = "text-center pt-3 italic text-sm"><%= @product.description%></h3>
        </div>
        <div>
            <h3 class = "text-center pt-3">Price: P <%= @product.price%>.00</h3>
            <h3 class = "text-center">In Stock: <%= @product.quantity%> Pcs.</h3>
        </div>
        <div class = "w-full flex justify-evenly py-2">
            <%= link_to edit_product_path(@product), class: "bg-blue-500 px-4 py-2 rounded-lg flex justify-between items-center" do %>
                <i class="fa-solid fa-pen text-white px-1"></i>
                <p class = "text-sm text-white px-1">UPDATE</p>
            <% end %>
            <%= button_to product_path(@product), method: :delete, class: "bg-red-500 px-4 py-2 rounded-lg flex justify-between items-center" do %>
                <i class="fa-solid fa-trash text-white px-1"></i>
                <p class = "text-sm text-white px-1">DELETE</p>
            <% end %>
        </div>
    </div>

    <div>
        <p class = "text-green-500"><%= notice %></p>
    </div>
    
    <div class = "flex justify-center w-1/5"><%= link_to products_path, class: "text-xs pr-3 italic underline" do %><p>Go back to the Home Page</p><% end %></div>

</div>